{{> header}}
<section class="dashboard">
    <h1>Dashboard</h1>
    <nav class="navbar">
        <ul>
            <li><a href="#/dashboard">All</a></li>
            <li><a href="#/category/:Cat">Cats</a></li>
            <li><a href="#/category/:Dog">Dogs</a></li>
            <li><a href="#/category/:Parrot">Parrots</a></li>
            <li><a href="##/category/:Reptile">Reptiles</a></li>
            <li><a href="#/category/:Other">Other</a></li>
        </ul>
    </nav>
    <ul class="other-pets-list">
        {{#each pets}}
            {{> pet}}
        {{/each}}
    </ul>
</section>
{{> footer}}